.profile {
  display: flex;
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding: 0.5rem 1rem;
  border: 2px ridge #aaa;
}

@media (width <= 500px) {
  .profile {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (width <= 500px) {
  .title {
    justify-content: space-between;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .status {
    margin-left: 3rem;
  }
}

.avatar {
  border-radius: 100%;
  border: 1px solid #ddd;
}

.status {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
