.width {
  max-width: 800px;
  margin-inline: auto;
}

.profile {
  display: flex;
  justify-content: start;
  gap: 1rem;
  max-width: 800px;
  margin-inline: auto;
  padding: 0.5rem 1rem;
}

.profile * {
  color: #111;
}

.avatar {
  border-radius: 100%;
  border: 1px solid #ddd;
}

.status {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 0.3rem;
}

.items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dHidden {
  display: none;
}

@media (width <= 700px) {
  .profile {
    align-items: center;
    gap: 1rem;
  }

  .info {
    width: max-content;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  .items {
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
  }

  .mHidden {
    display: none;
  }

  .dHidden {
    display: flex;
  }
}
