.form {
  max-width: 50rem;
  padding: 0 !important;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 4px;
}

.label {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.input {
  padding-block: 1.5rem !important;
}

.btn {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

.signinError {
  opacity: 0;
  font-size: 1.5rem;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  transition: opacity 0.4s;
  padding: 4px;
}

.requirements {
  display: flex;
  gap: 1rem;
}

.required {
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.4s;
  color: #e35015;
  align-self: flex-end;
}

.length {
  font-size: 1rem;
}

.fontSize {
  font-size: 2rem;
}

@media (width <=650px) {
  .fontSize {
    font-size: 1.3rem;
  }
}

@media (width < 800px) {
  .form {
    padding: 0 1rem;
  }
}

@media (width <= 400px) {
  .signinError {
    font-size: 0.8rem;
  }
}

@media (width <= 600px) {
  .btn {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .label {
    font-size: 1.5rem !important;
  }

  .signinError {
    font-size: 1rem;
  }
}
