.post {
  max-width: 800px;
  margin-inline: auto;
  margin-block: 1rem;
}

.post,
.post > * {
  font-size: 1.5rem !important;
}

.btn {
  cursor: pointer;
  margin-inline: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form * {
  font-size: 1rem;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 8px;
  margin: 0;
  padding-block: 5px;
}

.content {
  white-space: pre-wrap;
}

.status {
  display: flex;
}

.status p {
  padding: 0.5rem;
}

.status a {
  padding: 0;
}

@media (width <= 850px) {
  .status {
    font-size: 1rem !important;
    flex-direction: column;
  }
}

@media (width <= 700px) {
  .title div {
    font-size: 1rem;
  }

  .content {
    font-size: 1.2rem;
  }
}
