.post {
  max-width: 800px;
  margin-inline: auto;
  margin-block: 1rem;
}

.post,
.post > * {
  font-size: 1.5rem !important;
}

.btn {
  cursor: pointer;
  margin-inline: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form * {
  font-size: 1rem;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
